# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
# logs
/build_err.log
/vercel_out.txt
/vercel_out.log
/vercel_deploy.log
/out_ascii.txt
/vercel_projects.log
/vercel_out_fixed.txt
/vercel_out_ascii.txt

.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.vercel
